.news-info .banner {
  position: relative;
  min-width: 1060px;
}
.news-info .banner .banner-img {
  display: block;
  width: 100%;
}
.news-info .banner .wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1060px;
  height: 408px;
  margin: -204px auto 0 -530px;
  /*background: #fff;*/
}
.news-info .tab-tit {
  height: 80px;
  background: #fff;
}
.news-info .tab-tit ul {
  width: 1060px;
  margin: 0 auto;
}
.news-info .tab-tit li a {
  display: block;
  width: 212px;
  height: 100%;
  line-height: 80px;
  font-size:16px;
  color:rgba(44,45,46,1);
  text-align: center;
}
.news-info .tab-tit li.active a {
  background: #4287FF;
  color: #fff;
}
.news-info .news-list {
  padding: 55px 0;
  background: #F8F8F9;
}
.news-info .news-list ul {
  width: 1089px;
  margin: 0 auto 20px;
}
.news-info .news-list li {
  width: 337px;
  height: 500px;
  padding: 28px 20px;
  margin: 13px;
  background: #fff;
  border:1px solid rgba(231, 231, 232, 0.49);
  box-sizing: border-box;
}
.news-info .news-list li .link {
  display: block;
  width: 100%;
  height: 100%;
}
.news-info .news-list li .img-wrap {
  width: 100%;
  height: 185px;
  margin-bottom: 20px;
}
.news-info .news-list li .img-wrap img {
  width: 100%;
  height: 100%;
}
.news-info .news-list li:hover {
  box-shadow:0px 9px 35px 0px rgba(227,227,227,0.69);
}
.news-info .news-list li h3 {
  font-size:20px;
  color:rgba(26,31,41,1);
  line-height:30px;
}
.news-info .news-list li .time {
  font-size:16px;
  color:rgba(106,108,114,1);
  line-height:36px;
}
.news-info .news-list li .con {
  margin-bottom: 20px;
  font-size:16px;
  color:rgba(106,108,114,1);
  line-height:26px;
}
.news-info .news-list li .more {
  font-size:16px;
  color:rgba(26,31,41,1);
  line-height:30px;
}
.news-info .news-detail {
  background:rgba(248,248,249,1);
}
.news-info .news-detail .wrap {
  width: 1060px;
  padding: 64px 0 57px;
  margin: 0 auto;
  border-bottom: 1px solid #EBEAEA;
}
.news-info .news-detail h2 {
  font-size:40px;
  color:rgba(26,31,41,1);
  line-height:60px;
}
.news-info .news-detail .news-source {
  margin: 33px 0 43px;
  font-size:18px;
  color:rgba(94,96,104,1);
  line-height:42px;
}
.news-info .siblings {
  background:rgba(248,248,249,1);
}
.news-info .siblings ul {
  width: 1060px;
  margin: 0 auto;
  padding: 20px 0;
  font-size:18px;
  line-height:50px;
}
.news-info .siblings a {
  color:rgba(26,31,41,1);
}
.news-info .siblings a:hover {
  color: #4287FF;
}
